
<div style="@Style">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudStack Spacing="5" Class="py-10 py-md-20" Style="text-align:center">
            @if (!string.IsNullOrWhiteSpace(Title))
            {
                <MudText Typo="Typo.h4">@Title</MudText>
            }

            @ChildContent

        </MudStack>
    </MudContainer>
</div>

@code{
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Style { get; set; } = string.Empty;
}
