@page "/"

<PageTitle>Luiza Estate</PageTitle>

<Section Title="Luiza Estate">
    <MudText Typo="Typo.h1">
        Луиза Алиниседова
    </MudText>
    <MudText Typo="Typo.h5">Доверенный консультант по недвижимости</MudText>
</Section>

<Section Title="Контакты">
    <MudText Typo="Typo.h5">
        Почта: atlas-com@yandex.ru  /  Тел: +7 495 771 55 14
    </MudText>
</Section>
